.centered {
  width: 75%;
  margin: 0 auto;
  margin-top: 72px;
  padding: 30px;
  font-size: 1rem;
  color: white;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

h2 {
  margin-top: 24px;
  margin-bottom: 0;
}

h3 {
  margin-top: 24px;
  margin-bottom: 0;
}

p, li {
  color: rgb(205, 205, 205);
}

/* Responsive Margin */
@media (max-width: 768px) {
  .centered {
      margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .centered {
      margin-top: 20px;
  }
  .centered {
    margin-top: 0;
    width: 100%;
    font-size: -2rem;
    color: white;
  }
  h2 {
    font-size: 12pt;
    margin-top: 12px;
    margin-bottom: 0;
  }

  h3 {
    font-size: 10pt;
    margin-top: 8px;
    margin-bottom: 0;
  }

  p, li {
    font-size: 8pt;
    line-height: 12pt;
    color: rgb(205, 205, 205);
  }

  li{
    font-size: 8pt;
    margin-left:-24px;
  }
}
