<div class="centered">
  <h1 style="display: flex; font-size: 1.8rem; margin-bottom: 32px;">
    <div style="padding-top: 8px; flex:1">
      Privacy Policy
    </div>
    <div>
      <button mat-icon-button [routerLink]="['']">
          <mat-icon>close</mat-icon>
      </button>
    </div>
  </h1>
  <div>
    <p>This Privacy Policy is designed to inform you about how your personal information is collected, used, and safeguarded when you access and use our events webpage. We take your privacy seriously and are committed to protecting your data. By using our webpage, you consent to the practices outlined in this policy.</p>

    <h2>Information We Collect</h2>
    <p>When you access and use our events webpage, we may collect certain information that you provide to us voluntarily. This may include, but is not limited to:</p>
    <ol>
      <li><h3>Personal Information:</h3> Your name, email address, and any other information you provide when registering for events or subscribing to newsletters.</li>
      <li><h3>Usage Information:</h3> Data related to your interaction with our webpage, such as IP addresses, browser type, pages visited, and the duration of your visit.</li>
      <li><h3>Cookies:</h3> We may use cookies to enhance your experience and gather information about your preferences.</li>
    </ol>

    <h2>How We Use Your Information</h2>
    <p>We will use the information collected for the following purposes:</p>
    <ol>
      <li><h3>Event Registration:</h3> To manage your event registrations and communicate event-related information.</li>
      <li><h3>Email Communication:</h3> To send you event updates, newsletters, and other relevant information.</li>
      <li><h3>Webpage Improvement:</h3> To analyze usage patterns, assess the performance of our webpage, and make necessary improvements.</li>
    </ol>

    <h2>Information Sharing</h2>
    <p>We are committed to keeping your personal information confidential. We will not sell, trade, or rent your personal information to third parties. Your data will not be used or shared elsewhere for any other purpose without your explicit consent.</p>

    <h2>Data Security</h2>
    <p>We take all reasonable precautions to protect your data. We implement industry-standard security measures to safeguard your personal information from unauthorized access, disclosure, alteration, or destruction.</p>

    <h2>Your Choices</h2>
    <p>You can choose not to provide personal information, but this may limit your ability to access certain features of our webpage. You can also opt out of receiving promotional emails at any time.</p>

    <h2>Updating Your Information</h2>
    <p>If you wish to update, correct, or delete your personal information, please contact us at [contact email].</p>

    <h2>Changes to this Privacy Policy</h2>
    <p>We reserve the right to update this privacy policy to reflect changes in our practices and legal requirements. Any changes will be posted on this webpage with a revision date for your reference.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about this privacy policy or the way we handle your personal information, please contact us at [contact email]. This Privacy Policy was last updated on Jan 1, 2023.</p>

  </div>
</div>
