.left-image {
  /* background-image: url('../../../assets/images-splash/left-bk.png'); */
  background-image: url('../../../assets/images-splash/left-bk.png');
  background-repeat: repeat-y;
  color: rgba(0, 0, 0, 0);
  width: 10%;
  background-size: contain;
}

.right-image {
  background-image: url('../../../assets/images-splash/right-bk.png');
  background-repeat: repeat-y;
  color: rgba(0, 0, 0, 0);
  width: 10%;
  background-size: contain;
}
.bk-image {
  background-image: url('../../../assets/images-splash/bk.png');
  color: white;
  text-align: center;
  padding-top: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80vw;
}
