.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  width: 80%;
  height: 56%;
  background: linear-gradient(135deg, #522b79, #522b79, #2c2265);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border-top-right-radius: 4rem;
  box-shadow: -2px 0 10px 10px #e913e0;
}
.navigation {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 20%;
  height: 5%;
  border-radius: 8px
}
