/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .card {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 5px double #333;
  background-color: #f1f1f1;
  border-radius: 4px;
  width: 800px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
}
.submit-button {
  border: 3px double #2f2f2f;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  color: black;
}

.invitation {
  text-align: center;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitation h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.invitation p {
  font-size: 20px;
}
.submit-button {
  transition: all 0.2s ease-in-out;
}

.submit-button:active {
  transform: scale(1.1);
  background-color: white;
  color: black;
}

.submit-button:not([disabled]) {
  cursor: pointer;
}
.submit-button:not([disabled]):hover {
  background-color: #333;
  color: white;
}
.line {
  height: 1px;
  background-color: #333;
  width: 100%;
  margin: 32px 0;
}
.card-container {
  border: 4px solid black;
  border-radius: 4px;
  padding: 4px;
}
@media only screen and (max-width: 480px) {
  .container {
    width: 70%;
    margin: 0 auto;
  }
  .card {
    width: 100%;
  }
  .card-container {
    width: 130%;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  .submit-button {
    width: 200px;
    font-size: 1.5rem;
  }
}
.user-input {
  font-size: 1.5rem;
}

button.ng-invalid {
  background-color: red;
}
.submit-invalid {
  cursor: not-allowed;
  pointer-events: none;
  color: #888;
}

input {
  outline: none;
}
.glad {
  width: 90%;
}
.summer {
  font-size: 24px !important;
} */

.content {
  width: 80%;
  height: 62%;
  background: linear-gradient(135deg, #522b79, #522b79, #2c2265);
  position: absolute; /* Add this line to position the div */
  top: 50%; /* Position from the top */
  left: 50%; /* Position from the left */
  transform: translate(-50%, -50%); /* Center the div */
  border-radius: 4px;
  border-top-right-radius: 4rem;
  box-shadow: -2px 0 10px 10px #e913e0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  align-items: center;
}
.container {
  width: 80%;
  /* height: 60%; */
  border-radius: 32px;
  justify-content: center; /* Add this line to center the form vertically */
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.vip {
  font-size: 3rem;
  background-color: transparent;
  color: #f7eb01;
  margin-right: 8px;
  text-align: center;
  top: 5%;
  position: relative;
  line-height: 3rem;
  /* position: absolute;
  top: 2%; */
}
.recommendation {
  background-color: transparent;
  color: #f7a901;
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
}

.form-group {
  /* display: flex;
  flex-direction: row; */
  margin-bottom: 10px; /* Increase the margin for more space between form fields */
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 1%;
  border: 1px solid #ccc; /* Add a border to the input fields */
  border-radius: 14px; /* Add border radius for a rounded appearance */
}

.submit-button {
  border: 3px double #2f2f2f;
  padding: 10px 15px;
  line-height: 20px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  color: black;
  background-color: white;
  margin-top: 20px; /* Add margin to separate the button from the form fields */
}

/* Add some hover and active styles for the submit button */
.submit-button:hover {
  background-color: #333;
  color: white;
}

.submit-button:active {
  transform: scale(1.1);
  background-color: white;
  color: black;
}

/* Increase the font size of the input fields */
.user-input {
  font-size: 1.2rem;
}
input {
  outline: none;
}
.card-container {
  width: 100%;
  margin: 0 auto;
  border-radius: 32px;
}
.news-container {
  background-color: transparent;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}


/* end */
.pure-material-button-contained {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  /* background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243)); */
  background-color: white !important;
  color: black;
  border: 1px solid #522b79;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
  border: none;
}

/* Overlay */
.pure-material-button-contained::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255)); */
  background-color: #522b79 !important;
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  /* background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255)); */
  background-color: #522b79 !important;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
  opacity: 0.08;
}

.pure-material-button-contained:focus::before {
  opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.pure-material-button-contained:disabled::before {
  opacity: 0;
}

.pure-material-button-contained:disabled::after {
  opacity: 0;
}



/* .submit-invalid {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #888
} */
