<div class="splash-container">
  <div style="display: flex; width: 100vw; height: 100vh;">
    <div class="left-image"></div>
    <div style="height: 90vh; width: 80vw; overflow: scroll; " class="bk-image">
      <div style="margin-top: 40px; text-align: center;">
        <!-- <img src="assets/svg/early-access.svg" style="width: 50vw; margin-bottom: 32px; max-width: 500px; min-width: 320px"> -->
        <h2>REGISTER NOW FOR VIP ACCESS TO<br>
          THE BIGGEST EVENT OF THE YEAR
        </h2>
      </div>
      <form
        class="container"
        [formGroup]="registrationForm"
        (ngSubmit)="onSubmit()"
        style="gap: 12px"
      >
        <mat-form-field>
          <input
            placeholder="First Name"
            matInput
            type="text"
            id="firstName"
            formControlName="firstName"
            [errorStateMatcher]="matcher"
          />
          <mat-error
          *ngIf="
            !registrationForm.get('firstName')?.valid &&
            registrationForm.get('firstName')?.touched
          "
          style="color: red; margin: 8px"
          >First name is required, please provide one
        </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            placeholder="Last Name"
            matInput
            type="text"
            id="lastName"
            formControlName="lastName"
            [errorStateMatcher]="matcher"
          />
          <mat-error
          *ngIf="
            !registrationForm.get('lastName')?.valid &&
            registrationForm.get('lastName')?.touched
          "
          style="color: red; margin: 8px"
          >
          Last name is required, please provide one
        </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            placeholder="Email"
            matInput
            type="email"
            id="email"
            formControlName="email"
            [errorStateMatcher]="matcher"
          />
          <mat-error
          *ngIf="registrationForm.get('email')?.errors?.['email']"
          style="color: red;"
          >
          Please provide a correct email format
        </mat-error>
        <mat-error
          *ngIf="!registrationForm.get('email')?.valid && registrationForm.get('email')?.touched && !registrationForm.get('email')?.errors?.['email']"
          style="color: red;"
          >
          Email is required, please provide one
        </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="(ageGroups$ | async) as data">
          <mat-select
            id="ageGroup"
            formControlName="ageGroup"
            [errorStateMatcher]="matcher"
            placeholder="Select an Age Group"
          >
            <mat-option *ngFor="let item of data" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
          <mat-error
          *ngIf="
            !registrationForm.get('ageGroup')?.valid &&
            registrationForm.get('ageGroup')?.touched
          "
          style="color: red;"
          >
          Age group is required, please select one
        </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="(genders$ | async) as data">
          <mat-select
            id="gender"
            formControlName="gender"
            [errorStateMatcher]="matcher"
            placeholder="Select a Gender"
          >
            <mat-option *ngFor="let item of data" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
          <mat-error
          *ngIf="
            !registrationForm.get('gender')?.valid &&
            registrationForm.get('gender')?.touched
          "
          style="color: red;"
          >Gender is required, please select one
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="(heard$ | async) as data">
          <mat-select
            id="heard"
            formControlName="heard"
            [errorStateMatcher]="matcher"
            placeholder="Where did you hear about us?"
          >
            <mat-option *ngFor="let item of data" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
          <mat-error
          *ngIf="
            !registrationForm.get('heard')?.valid &&
            registrationForm.get('heard')?.touched
          "
          style="color: red;"
          >
          You have to tell us where you heard about us.
        </mat-error>
        </mat-form-field>

        <div style="display: flex; flex-direction: column;">
          <mat-form-field>
            <input
              style="font-size: 22pt; font-weight: 600; text-align: center;"
              placeholder="Code"
              matInput
              type="text"
              maxlength="8"
              id="code"
              formControlName="code"
              class="user-input"
            />
          </mat-form-field>

          <div style="color: white; margin-bottom: 16px;">
            This code comes from a friend that referred you to this site. If you have it, please enter it above.
          </div>
        </div>

        <div style="margin-bottom: 32px;">
          <mat-checkbox class="checkbox" value="" color="accent" formControlName="ageAppropriate">
            <span class="textColor">I confirm that I am 19 years or older</span>
          </mat-checkbox>
        </div>

        <div style="text-align: center;">
          <button
            type="submit"
            [disabled]="!isValid"
            mat-raised-button
            class="submit-btn"
            style="width: 50%; background-color: white; height: 2.5rem; margin-bottom: 40px"
          >
            SUBMIT
          </button>
        </div>
      </form>

    </div>
    <div class="right-image"></div>
  </div>
</div>

