
<div class="container">
  <div class="invitation">
    <h2 style="font-size: 64px;">FIND YOUR SOULMATE</h2>
    <div class="line"></div>
    <p>We're glad you're here. Please fill out the form below to apply and join our community.</p>
  </div>
  <div class="card-container">
    <div class="card">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="user-input" type="email" id="email" formControlName="email">
          <span
          *ngIf="registrationForm.get('email')?.errors?.['email']" style="color: red; margin: 8px;">Please provide a correct email format</span>
          <span *ngIf="!registrationForm.get('email')?.valid && registrationForm.get('email')?.touched && !registrationForm.get('email')?.errors?.['email']" style="color: red; margin: 8px">Email is required, please provide one</span>
        </div>
        <div class="form-group">
          <label for="code">Code:</label>
          <input class="user-input" type="text" id="code" formControlName="code">
        </div>
        <div class="btn-container">
          <button  [disabled]="!registrationForm.valid" class="submit-button" [ngClass]="{'submit-invalid': !registrationForm.valid}" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
