<div style="flex: 1; height: 100vh; width: 80vw;" class="bk-image">
  <div style="display: flex; flex-direction: column; width: 80vw; overflow: scroll">
    <div style="display: flex; flex-direction: column; align-items: center;">
      <h2 style="line-height: 120%;">
        REGISTER NOW FOR VIP ACCESS TO<br>
        THE BIGGEST EVENT OF THE YEAR
      </h2>
      <img src="assets/svg/osd_v-banner-white.svg" style="max-width: 420px; margin-bottom: 16px;">

      <img src="assets/svg/osd-bash.svg" style="max-width: 600px;">

      <div style="margin-top: 64px;">
        <button mat-raised-button class="register-btn submit" routerLink="/register">Register</button>
      </div>
    </div>
  </div>

</div>
