<div style="flex: 1; height: 100vh; width: 80vw;" class="bk-image">
  <div style="display: flex; flex-direction: column; width: 80vw; overflow: scroll;">
    <div style="display: flex; flex-direction: column; align-items: center;">
      <!-- <img src="assets/svg/early-access.svg" style="max-width: 600px;"> -->
      <h2>REGISTER NOW FOR VIP ACCESS TO<br>
        THE BIGGEST EVENT OF THE YEAR
      </h2>

      <img src="assets/svg/osd-bash.svg" style="max-width: 600px;">

      <div style="margin-top: 64px;">
        <button mat-raised-button class="register-btn" routerLink="/register">Register</button>
      </div>
    </div>
  </div>

</div>
