<div class="splash-container">

  <div style="display: flex; width: 100vw; height: 100vh">
    <div class="left-image"></div>
    <div style="height: 100vh; width: 80vw; display: flex; justify-content: center;" class="bk-image">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 style="width: 50vw; color: white; font-size: 4rem; line-height: 4rem;">Thank you!</h1>
        <h2 style="color: white; margin-top: 30px">Please check your email to confirm your email address.</h2>
        <h3 style="color: white; margin-top: 30px; max-width: 320px;">
        If you do not receive the confirmation email within 5 minutes, please check your junk mail in case the email has been spammed.</h3>
      </div>
    </div>
    <div class="right-image"></div>
    </div>

</div>
